.BlockHeaderHolder {
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  z-index: 250;
}

.BlockHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
}

.BlockHeaderNav a {
  text-decoration: none;
  color: #2442bd;
  text-transform: uppercase;
  margin: 0 8px;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 1
}

.BlockHeaderNav a:hover {
  color: #4287f5;
}