.BlockBanner {
  margin: 0 auto;
  padding: 2rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-sizing: border-box;
}

.BlockBanner h1 {
  font-size: 5rem;
  margin: 0;
}

.BlockBanner h2 {
  margin: 0 0 4px
}

.BlockBanner svg {
  color: #666;
  font-size: 0.8rem;
}

.BlockBanner p {
  font-size: 1.5rem;
  font-weight: 200;
}

.BlockBannerNav > a {
  margin: 0 8px;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color ease 0.3s;
  position: relative;
  padding-bottom: 8px;
}

.BlockBannerNav a:hover {
  color: #2442bd;
}

.BlockBannerNav > a:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #2442bd;
  visibility: hidden;
  transform: scaleX(0);
  transition: all ease 0.3s;
}

.BlockBannerNav > a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}