.BlockPortfolioItem {
  position: relative;
  width: 300px;
  height: 200px;
  /* background: #ffffff20; */
  border: 1px solid #2442bd;
  border: 1px solid #fff;
}

.BlockPortfolioItemImage {
  margin: 4px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
}

@media only screen and (min-width: 1200px) {
  .BlockPortfolioItem {
    width: 350px;
    height: 233px;
  }
}

.BlockPortfolioItemPolSoc {
  background: url('../../../../images/portfolio/polsoc.png') center top / cover;
}

.BlockPortfolioItemEmmi {
  background: url('../../../../images/portfolio/emmi.png') center top / cover;
}

.BlockPortfolioItemCamClass {
  background: url('../../../../images/portfolio/camclass.png') center top / cover;
}

.BlockPortfolioItemEmmiMobile {
  background: url('../../../../images/portfolio/emmi-mobi-all.png') center top / cover;
}

.BlockPortfolioItemBrainliens {
  background: url('../../../../images/portfolio/brainliens.png') center top / cover;
}

.BlockPortfolioItemMasternotes {
  background: url('../../../../images/portfolio/masternotes.png') center top / cover;
}

.BlockPortfolioItemContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #ffffffd0;
  background: radial-gradient(#ffffffe0, #ffffffc0);
  background: radial-gradient(#2442bde0, #2442bdc0);
  background: #2442bde0;
  opacity: 0;
  transition: opacity ease 0.3s;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.BlockPortfolioItemContent h2 {
  margin: 0;
}

.BlockPortfolioItemContent span {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffffc0;
  font-size: 12px;
}

.BlockPortfolioItem:hover .BlockPortfolioItemContent {
  opacity: 1;
  cursor: pointer;
}