.BlockPortfolio {
  background: #2442bd;
  color: white;
  width: 100%;
  padding: 2rem 2rem 8rem;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BlockPortfolio h2 {
  margin: 0 0 4rem;
}

.BlockPortfolioContent {
  display: grid;
  grid-template-columns: 300px;
  justify-items: center;
  grid-gap: 1rem;
  margin: 2rem auto;
}

@media only screen and (min-width: 900px) {
  .BlockPortfolioContent {
    grid-template-columns: 300px 300px;
    margin: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .BlockPortfolioContent {
    grid-template-columns: 360px 360px 360px;
    grid-gap: 10px;
  }
}