.BlockContact {
  width: 100%;
  padding: 4rem 1rem 6rem;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .BlockContact {
    padding: 6rem 1rem 12rem;
  }
}