.BlockCard {
  position: relative;
  position: absolute;
  top: 0;
  left: calc(50vw - 600px);
  background: white;
  z-index: 100;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.BlockCardShow {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.5s ease 0.1s, transform 0.5s ease 0.1s, visibility 0s ease 0s;
}

.BlockCardHide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-25px);
  transition: opacity 0.5s ease 0.1s, transform 0.5s ease 0.1s, visibility 0s ease 0.5s;
}

.BlockCardExit {
  width: 100%;
  padding: 8px;
  font-size: 1.2rem;
  line-height: 0;
  box-sizing: border-box;
  text-align: right;
}

.BlockCardImage {
  /* background: url('../../../images/emmi-desktop.png') center top / cover; */
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.BlockCardCopy {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-top: 5px solid black;
}

.BlockPortfolioItemPolSoc {
  background: url('../../../images/portfolio/polsoc.png') center top / cover;
}

.BlockPortfolioItemEmmi {
  background: url('../../../images/portfolio/emmi.png') center top / cover;
}

.BlockPortfolioItemCamClass {
  background: url('../../../images/portfolio/camclass.png') center top / cover;
}

.BlockPortfolioItemEmmiMobile {
  background: url('../../../images/portfolio/emmi-mobi-all.png') center top / cover;
}

.BlockPortfolioItemBrainliens {
  background: url('../../../images/portfolio/brainliens.png') center top / cover;
}

.BlockPortfolioItemMasternotes {
  background: url('../../../images/portfolio/masternotes.png') center top / cover;
}