.BlockAbout {
  width: 100%;
  padding: 8rem 1rem 4rem;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.BlockAbout > h2 {
  margin: 0;
}

.BlockAboutContent {
  max-width: 1200px;
  width: 100%;
  display: grid;
  margin: 4rem auto;
  grid-template-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
  text-align: left;
  justify-content: center;
}

@media only screen and (min-width: 900px) {
  .BlockAbout {
    padding: 12rem 1rem 8rem;
  }

  .BlockAboutContent {
    grid-template-columns: 1fr 1fr;
  }

  .BlockAboutCopy span {
    margin-top: 4rem;
    display: block;
  }

  .BlockAboutCopy p {
    margin-bottom: 4rem;
  }

}

.BlockAboutCopy span {
  margin-top: 2rem;
  display: block;
}

.BlockAboutCopy p {
  margin: 0 2rem;
}

.BlockAboutContentImage {
  background: url('../../../images/pic.png') center / contain;
  background-repeat: no-repeat;
}